
html {font-size: 80%}

body {
	font-family: "Bodega Sans", arial, sans-serif;
	src: url("font/BodegaSans_Black.ttf");
	color: white;
	background-color:rgb(158, 74, 74);
	background-image:  "img/5.jpg";
	background-size: 120rem;
}
#menu {
	text-align: center;
	display : flex;
	justify-content: space-between;
}

h1 {
	color: green; 
}
h2 {
color: black;
}
h3 {
	color: black;
}

.container {
	max-width: 1500px;
	padding: 25px;
	margin: 0 auto;
}
/* SLIDER */
.slider {
	padding: 0;
	background-color: black;
	margin: 50px auto 0;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.flexslider {
	margin: auto;
	border: 0;
}

   
/*MAIN*/

/*FOOTER*/

footer{

	background:#ccc;
	
	position:absolute;
	
	bottom:0;
	
	width:100%;
	
	padding-top:50px;
	
	height:50px;
	
	}